@charset "UTF-8";
/* Propriedades que se aplicam a todos os elementos da página. */
* {
	/* Remove a margem externa de todos os lados do elemento. */
	margin: 0;
	/* Remove o espaçamento interno de todos os lados do elemento. */
	padding: 0;
	/* Inclui o preenchimento e a borda na largura e altura. */
	box-sizing: border-box;
}

body {
	/* Exibição flexível. */
	/* Torna o elemento um flex container */
	/* e os seus elementos internos em flex-itens. */
	display: flex;
	/* Quebra de linha quando os itens não couberem na largura da tela. */
	flex-wrap: wrap;
	/* Junção de flex-grow, flex-shrink e flex-basis. */
	/* flex-grow – Habilidade de um flex item crescer. */
	/* flex-shrink - Capacidade de redução do item. */
	/* flex-basis – Tamanho inicial do item. */
	flex: 1 1 100vw;
	/* Margem de todos os lados. */
	margin: 3px;
}

/* Formatação comum entre os elementos. */
header, nav, main, footer {
	/* Cor do fundo. */
	background: #a1a1a1;
	/* Exibição flexível. */
	/* Torna o elemento um flex container */
	/* e os seus elementos internos em flex-itens. */
	display: flex;
	/* Margem externa de todos os lados. */
	margin: 3px;
}

/* Seletores para formatação individual. */
header {
	/* Altura do elemento. */
	height: 100px;
	/* Junção de flex-grow, flex-shrink e flex-basis. */
	/* flex-grow – Habilidade de um flex item crescer. */
	/* flex-shrink - Capacidade de redução do item. */
	/* flex-basis – Tamanho inicial do item. */
	flex: 1 1 100vw;
}

header #logo {
	/* Exibição flexível. */
	/* Torna o elemento um flex container */
	/* e os seus elementos internos em flex-itens. */
	display: flex;
	/* Junção de flex-grow, flex-shrink e flex-basis. */
	/* flex-grow – Habilidade de um flex item crescer. */
	/* flex-shrink - Capacidade de redução do item. */
	/* flex-basis – Tamanho inicial do item. */
	flex: 0 1 auto;
	/* Alinha os itens na vertical. */
	justify-content: flex-start;
	/* Alinha os itens na horizontal. */
	align-items: center;
}

#menu {
    justify-content: flex-end; /* Alinhar à direita */
}

header #menu a {
    margin-left: 25px;
	margin: 10px;
	justify-content: flex-start;
	
}

header #logo img {
	max-width: 200px;
	height: auto; /* Mantém a proporção da imagem */
}

/* Estilos para o botão de menu (aberto e fechado) */
#openMenu, #closeMenu {
	font-size: 25px;
	font-weight: bold;
	background-color: #007bff; /* Cor de fundo do botão */
	color: white; /* Cor do texto do botão */
	border: none;
	/* Margem ao redor do elemento              */
	/* (superior, direito, inferior e esquerdo) */
	padding: 0px 5px 0px 5px;
	border-radius: 5px; /* Cantos arredondados */
	/* Muda o cursor do mouse para ponteiro.*/
	cursor: pointer;
	/* Oculta o elemento. */
	display: none;
}
  
#openMenu:hover, #closeMenu:hover {
	background-color: #0056b3; /* Cor de fundo quando passa o mouse */
}

#menu a {
    text-align: center; /* Alinha o texto à direita */
    margin-left: 10px; /* Adicione margem à esquerda para criar espaçamento de 10px */
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
}

#menu a:hover {
    background-color: #0056b3;
}

nav {
	/* Alinha os itens na vertical. */
	justify-content: center;
	/* Alinha os itens na horizontal. */
	align-items: center;
	/* Junção de flex-grow, flex-shrink e flex-basis. */
	/* flex-grow – Habilidade de um flex item crescer. */
	/* flex-shrink - Capacidade de redução do item. */
	/* flex-basis – Tamanho inicial do item. */
	flex: 1 1 200px;
}

main {
	/* Realizar a subtração de 100% da altura vertical menos a soma */
    /* da altura dos elementos (200px) com as suas margens (47px). */
    height: calc(100vh - 247px);
	/* Junção de flex-grow, flex-shrink e flex-basis. */
	/* flex-grow – Habilidade de um flex item crescer. */
	/* flex-shrink - Capacidade de redução do item. */
	/* flex-basis – Tamanho inicial do item. */
	flex: 20 1 500px;

	flex-direction: column; /* Alinha os elementos internos em coluna */
	align-items: center; /* Centraliza verticalmente */
    justify-content: center; /* Centraliza horizontalmente */
}

/* Estilo para os parágrafos */
#paragrafos p {
    font-size: 26px; /* Define o tamanho da fonte para o texto dentro de <main> */
    margin-bottom: 10px; /* Adiciona espaço vertical entre os parágrafos */
    text-align: center; /* Centraliza o texto horizontalmente */
}

/* Estilo para os botões */
ul#button {
    list-style-type: none; /* Remove a marcação de lista */
    padding: 50px; /* Remove o espaço interno da lista */
}

ul#button li {
    margin-bottom: 10px; /* Adiciona espaço vertical entre os botões */
}

/* Estilo para os links dos botões */
ul#button a {
    display: block; /* Transforma os links em blocos, fazendo-os ficar um abaixo do outro */
    text-decoration: none; /* Remove a decoração padrão dos links */
    background-color: #007bff; /* Define uma cor de fundo para os botões */
    color: white; /* Define a cor do texto dos botões */
    padding: 10px 30px; /* Adiciona espaço interno aos botões */
    border-radius: 5px; /* Adiciona cantos arredondados aos botões */
	width: 100%; /* Faz o texto ocupar todo o espaço horizontal disponível */
    text-align: center; /* Centraliza o texto horizontalmente */
	align-items: center;
}

/* Estilo para tornar os links dos botões responsivos em hover (quando passar o mouse) */
ul#button a:hover {
    background-color: #0056b3; /* Altera a cor de fundo em hover */
}

footer {
	/* Altura do elemento. */
	height: 100px;
	/* Junção de flex-grow, flex-shrink e flex-basis. */
	/* flex-grow – Habilidade de um flex item crescer. */
	/* flex-shrink - Capacidade de redução do item. */
	/* flex-basis – Tamanho inicial do item. */
	flex: 1 1 100vw;
	justify-content: center; /* Centraliza horizontalmente */
	align-items: center; /* Centraliza verticalmente */
}

footer a {
	display: inline-block;
	font-size: 15px;
	padding: 10px 20px;
	background-color: #007bff; /* Cor de fundo do botão */
	color: white; /* Cor do texto do botão */
	text-decoration: none; /* Remover sublinhado do link */
	margin: 5px; /* Espaçamento entre os botões */
	border: 2px solid #007bff; /* Adiciona uma borda sólida à volta do botão */
	border-radius: 5px; /* Cantos arredondados */
	text-align: center; /* Centraliza o texto */
}

footer a:hover {
	background-color: #0056b3; /* Cor de fundo quando passa o mouse */
	border-color: #0056b3; /* Cor da borda quando passa o mouse */
}

/* Estilize o elemento de menu do footer como vertical */
#footerMenu {
    display: flex;
    justify-content: center; /* Centralize os elementos verticalmente */
    align-items: center; /* Centralize os elementos horizontalmente */
    list-style: none; /* Remova os marcadores de lista */
    padding: 3px; /* Remova o preenchimento padrão da lista */
}

/* Estilize os itens do menu do footer (links) */
#footerMenu li {
    margin: 50px 10px; /* Adicione margens para separar os links */
    font-size: 20px;
}

/* Estilize os links no menu do footer */
#footerMenu a {
    text-decoration: none; /* Remova sublinhados dos links */
    color: white; /* Defina a cor do texto */
}

/* Altera o estilo dos elementos para serem apresentados */
/* em telas menores que 717px. */
@media only screen and (max-width: 717px) {
	#openMenu, #closeMenu {
	  	display: block;
	}
  
	#openMenu {
	  	margin-left: auto;
	}
  
	#closeMenu {
	  	position: fixed;
	  	right: 15px;
	  	top: 15px;
	}
  
	nav {
	  	position: fixed;
	  	width: 100vw;
	  	height: 100vh;
	  	background: rgba(255, 255, 255, 0.8);
	  	flex-direction: column;
	  	align-items: center;
	  	justify-content: center;
	  	margin: 0;
	  	display: none;
	  	opacity: 0;
	  	transition: 0.3s;
	}

	#menu {
		justify-content: center; /* Alinhar à direita */
	}

	main {
    	/* Realizar a subtração de 100% da altura vertical menos a soma */
    	/* da altura dos elementos (200px) com as suas margens (25px). */
    	height: calc(100vh - 225px);
	}

	footer {
		display: flex;
	}
}
